img {
    width: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bloque  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.single {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 10px solid black;
}

.double {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 10px solid black;
}

.pc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}