body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

div {
    position: absolute;
    border: 2px solid #000000;
    width: 100%;
    height: 100%;
}

.interior {
    width: 40%;
    height: 40%;
    border-radius: 50px;
    box-shadow: 10px 10px gray;
}

.interior:hover {
    background-color: yellow;
     transform: rotateY(180deg); /* Rotate 180 degrees */
    transition: transform 2s ease; /* Smooth animation */
}



.superior {
    top: 8%;
}

.inferior {
    bottom: 8%;
}

.izquierda {
    left: 8%;
    background-color: red;
}

.derecha {
    right: 8%;
    background-color: green;
}

#id1 {
    background-color: blue;
}